<div ng-controller="ProblemsCtrl">
    <p><h1>Official Problem Set</h1></p>
    <div class="row">
        <div class="span6">
            <!--<accordion close-others="oneAtATime">
            // TODO: figure out how to customize this heading and format it (find source javascript)
                <accordion-group heading="{{problem.title}}>" ng-repeat="problem in problems">
                    <p>Score: {{problem.score}}</p>
                    <p>{{problem.description}}</p>
                </accordion>
            </accordion>-->
            <div ng-repeat="problem in problems">
                <p><div ng-class="probClass(problem)" ng-click="problem.isCollapsed = !problem.isCollapsed">
                    <h3>{{problem.title}}</h3>
                </div>
                <div class="sliding-content" collapse="problem.isCollapsed">
                    <div class="sliding-content-inner">
                        <div class="row-fluid">
                            <div class="span6">
                                <b>Your score on this problem:</b> {{problem.score}}
                            </div>
                            <div class="span4 offset2">
                                <button class="btn btn-primary btn-mini" ng-click="updateProblemSubmit(problem)">Submit source</button>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                {{problem.description}}
                            </div>
                        </div>
                    </div>
                </div></p>
            </div>
        </div>
        <div class="span6">
            <div ng-hide="!showSubmitPane" class="sliding-content">
                <div class="row-fluid">
                    <div class="span12">
                        <h3>{{selectedProb.title}}</h3>
                        <h4>Your Progress</h4>
                        <p><progress percent="selectedProb.score" class="progress-striped active"></progress></p>
                        <p><div ng-hide="!selectedProb.submissions" class="row-fluid">
                            <div class="span6"><b>Total Submissions:</b> {{selectedProb.submissions}}</div>
                            <div class="span6"><button class="btn btn-primary">View Last Submission</button></div>
                        </div></p>
                        <h4>Submit Source</h4>
                        <p>The follow source files are accepted: .c, .java, or .py</p>
                        <form id="uploadForm" enctype="multipart/form-data">
                            <p><div class="row-fluid">
                                <div class="span8">
                                    <input type="file" name="sourcefile" file-upload />
                                </div>
                                <div class="span4">
                                    <button class="btn btn-success" id="submitSource" ng-click="gradeFile()" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError" ng-disabled="highlightError">Grade Program</button>
                                </div>
                            </div></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
