<div ng-controller="ProblemsCtrl">
    <div class="row">
        <div class="span9">
            <h1>Official Problem Set</h1>
        </div>
        <div class="span9">
            <accordion close-others="oneAtATime">
            // TODO: figure out how to customize this heading and format it (find source javascript)
                <accordion-group heading="{{problem.title}}>" ng-repeat="problem in problems">
                    <p>Score: {{problem.score}}</p>
                    <p>{{problem.description}}</p>
                </accordion>
            </accordion>
        </div>
        <!--<div ng-repeat="problem in problems" class="span9">
            <div class="sliding-header" ng-click="{{problem.isCollapsed = !problem.isCollapsed}}">
                <h5>{{problem.title}}</h5>
            </div>
            <div class="sliding-content" collapse="{{problem.isCollapsed}}">
                <p>{{problem.score}}</p>
                <p>{{problem.description}}</p>
            </div>
        </div>-->
    </div>
</div>
